$textFont: "Open Sans", Arial, sans-serif;
$titleFont: "Montserrat", Arial, sans-serif;

$primaryColor: crimson;


$textColor: #444;
$linkColor: black;
$titleColor: $primaryColor;


$borderColor: $primaryColor;
$background: wheat;


$separator: black;

$blockquoteBackground: #fff;
$blockquoteBorder: $primaryColor;
